@model Hotels.Models.ViewModels.ConfirmEmailViewModel

<div class="form-reg">
    <form asp-action="ConfirmEmail" asp-controller="Account" asp-antiforgery="true">
        <div>
            <div>@Html.LabelFor(x => x.Password)</div>
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <input type="submit" value="Confirm" class="btn btn-primary" style="width:517px; margin-top:20px" />
    </form>
</div>
