html, body {
    background-color: #121212; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


a {
    color: #bb86fc; 
    text-decoration: none;
    transition: color 0.3s ease;
}

    a:hover {
        color: #9a64e0; 
    }


.btn-primary {
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #444444;
    }


.hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e; 
    color: #ffffff; 
    border: 1px solid #444444; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    padding: 20px;
    width: 600px;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .hotels:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    }


    .hotels img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }

.descrip {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #2c2c2c; 
    padding: 10px;
    text-align: justify;
    color: #cfcfcf; 
}


.hotel-info {
    margin-top: 10px;
    text-align: center;
    color: #bbbbbb;
}


.hotels .price {
    color: #27ae60; 
    font-weight: bold;
}


.buy-button {
    margin-top: 15px;
    background-color: #444444; 
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .buy-button:hover {
        background-color: #555555; 
    }


h1, h2, h3, h4, h5, h6 {
    color: #bb86fc; 
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}


.form-reg {
    background-image: url(https://wallpapers.com/images/hd/cool-grey-o48b24zak36yzbs4.jpg);
    height: 540px;
    width: 1400px;
    background-size: cover;
    border-radius: 10px;
}

tr, th {
    color: #29688f;
}

@media (max-width: 768px) {
    .hotels {
        width: 90%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}
