@model string

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New Role</label>
        <input name="name" id="name" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Create" />
</form>